@font-face {
    font-family: "googleSansBold";
    src: URL("/assets/font/GoogleSans-Bold-v1.27.ttf");
};

@font-face {
    font-family: "googleSansDisplayRegular";
    src: URL("/assets/font/GoogleSansDisplay-Regular-v1.27.ttf");
};